body {
    background-color: white;
    color: black;
    margin: 0;
    padding-top: 100px;
}

#education {
    width: 400px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

#skills {
    width: 400px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

#skills ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#skills li {
    text-align: center;
}

#information {
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 80%;
}

#about-me {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

h2 {
    font-size: 2em;
    margin: 0px;
    text-align: center;
}

#display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 20px auto 0 auto;
}

.info {
    margin: 25px 0 25px 0;
    border: 2px solid #355872;;
    border-radius: 12px;
}

.info p {
    margin: 10px 0;
}